* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: menu;
    src: url(../font/COMFORTAA.LIGHT.TTF);
}

@font-face {
    font-family: titulos;
    src: url(../font/ORATORSTD.OTF);
}

@font-face {
    font-family: titlep;
    src: url(../font/TT0288M_.TTF);
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px rgba(0, 0, 0, 0.85)
}

.navbar {
    height: 100%;
    padding: 0!important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px -1px;
}

.logo-fonte{
    padding-left: 20px;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    height: 100%;
    padding: 28px 20px;
    transition-duration: 0.8s;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    font-weight: 600;
}

nav li:hover {
    transition-duration: 0.6s;
    background-color: #2b2089;
}

nav a {
    font-family: menu;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    text-decoration: none;
}

.active {
    background-color: #2b2089;
    padding-top: 6%;
    padding-bottom: 5.7%;
    text-align: center;
    font-weight: 100;
}

.nav-item .active {
    text-align: center;
}

.navlink {
    color: #fff;
}

.navlink2 {
    color: #16104d;
}

.footer1 {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    color: #16104d;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 5px;
}

.sct-footer {
    display: flex;
    align-items: center;
}

.footer1 div {
    width: 100%;
}

.link-footer {
    display: flex;
}

.ul-footer {
    padding-left: 30px;
    margin: 0;
}

.ul-footer li {
    list-style-type: none;
}

.footerlink-a {
    color: black;
    font-weight: 450px;
}

.footerlink-a:hover {
    color: #007bff;
    text-decoration: none;
    transition: 0.45s;
}

.number1{
    color: black;
    text-decoration: none;
}
.number:hover{
    color: black;
    text-decoration: none;
}

.info-footer1 {
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display: flex;
    align-items: center;
}

.info-footer2 {
    color: black;
    /*margin-left: 188px;*/
    width: 100%;
}

.logo-footer {
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display: flex;
    justify-content: center;
}

.icon-info {
    margin: 0px 4px 0px 4px;
}

.pfooter {
    margin-bottom: 10px;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display: flex;
}

.developby {
    width: 100%;
    background-color: #000;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}

.div-developby {
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display: flex;
    justify-content: center;
}

.logo-devs {
    padding-top: 0px;
}
@media(max-width:300px){
    .nome-logo{
        display: none
    }
}

@media(max-width:425px){
    .logo-fonte{
        padding-left: 0;
    }
    .logo{
        width: 100px;
        height: 65px;
    }
    .nome-logo{
        width: 127px;
        height: 60px;
    }
}

@media (max-width:991px) {
    .collapse {
        background-color: #fff;
    }
    .active {
        padding: 20px;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
}

@media (max-width:900px){
    .sct-footer{
        display: block;
    }
    .footer1 div{
        padding: 12px 0px;
        justify-content: center;
    }
    .info-footer2 {
        margin-left: 0;
        display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}