* {
    padding: 0;
    margin: 0;
}




@media screen and (max-width:768px) {
    .produto {
        flex-direction: column;
        align-items: center;
    }

    .h2-ttl {
        padding-left: 14%;
        color: #fff;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    h2 {
        font-family: menu;
        font-size: 28px;
    }

    .ttl-pdt {
        width: 88%;
        padding: 16px 0px;
        margin-left: -20px;
    }

    .produto .cx1 {
        padding-right: 0;
    }

    .produto .cx2 {
        width: 100%;
        padding: 33px; 
        
    }

    
}

@media screen and (max-width:480px){
    .ttl-pag{
        height: 90px;
        font-size:30px
    }
    .h2-ttl{
        font-size: 22px;
    }
    .cx2 h4{
        font-size: 20px;
    }
    .cx2 h2{
        font-size: 20px;
        text-shadow: black 0px 0.4px;
    }
    .cx2 li{
        font-size: 18px;
    }
    .produto{
        padding: 70px 0px 44px 0px;
    }
    h5{
        font-size: 20px;
    }
    .p-produtos{
        font-size: 17px;
    }
}