@font-face {
  font-family: menu;
  src: url(../font/COMFORTAA.LIGHT.TTF);
}
@font-face {
  font-family: titulos;
  src: url(../font/ORATORSTD.OTF);
}
@font-face {
  font-family: titlep;
  src: url(../font/TT0288M_.TTF);
}
#produtosexc h2 {
  font-family: titlep;
  color: #da251c;
  text-shadow: black 1.1px 1.1px 1px;
}
#produtosexc h5 {
  font-family: titlep;
  font-size: 25.2px;
}
#produtosexc .p-produtos {
  font-family: titlep;
  font-size: 22px;
}
#produtosexc .div-ttl {
  padding: 15px 0px 40px 0px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
#produtosexc .ttl-pag {
  font-family: menu;
  width: 100%;
  height: 120px;
  font-size: 53px;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023769;
  color: #fff;
  box-shadow: #000 0px 0px 14px -2px;
  /*border-bottom: 1px solid #000;*/
}
#produtosexc .ttl-pdt {
  width: 40%;
  padding: 15px 0px;
  border-radius: 10px;
  margin-left: -10px;
  background-color: #023769;
  box-shadow: #000 0px 0px 14px -2px;
}
#produtosexc .h2-ttl {
  padding-left: 15%;
  color: #fff;
  font-family: menu;
  padding-top: 11px;
}
#produtosexc h2 {
  font-family: menu;
  font-size: 27px;
}
#produtosexc .cx2 h4 {
  font-family: titlep;
  padding-bottom: 10px;
  margin-top: 15px;
}
#produtosexc .cx2 h2 {
  font-family: titlep;
}
#produtosexc h4 {
  font-family: titlep;
  font-size: 27px;
}
#produtosexc .cx2 li {
  font-size: 22px;
  font-family: titlep;
}
#produtosexc body {
  background-color: #fff;
}
#produtosexc .produto {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 90px 0px;
  border-top: 4px double #023769;
  margin-top: -25px;
  margin-bottom: -53px;
}
#produtosexc .produto img {
  padding: 5px;
  border: 4px double #023769;
  box-shadow: #000 0px 0px 14px -2px;
}
#produtosexc .produto .cx1 {
  padding-right: 55px;
}
#produtosexc .produto .cx2 {
  width: 60%;
  padding-left: 60px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#produtosexc #cx-termica {
  padding: 35px;
}
#produtosexc #isopor, #produtosexc #caixanucleo {
  padding: 21px;
}
#produtosexc #gelo {
  padding: 0px 77px;
}
@media screen and (max-width: 768px) {
  #produtosexc .produto {
    flex-direction: column;
    align-items: center;
  }
  #produtosexc .h2-ttl {
    padding-left: 14%;
    color: #fff;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  #produtosexc h2 {
    font-family: menu;
    font-size: 28px;
  }
  #produtosexc .ttl-pdt {
    width: 88%;
    padding: 16px 0px;
    margin-left: -20px;
  }
  #produtosexc .produto .cx1 {
    padding-right: 0;
  }
  #produtosexc .produto .cx2 {
    width: 100%;
    padding: 33px;
  }
}
@media screen and (max-width: 480px) {
  #produtosexc .ttl-pag {
    height: 90px;
    font-size: 30px;
  }
  #produtosexc .h2-ttl {
    font-size: 22px;
  }
  #produtosexc .cx2 h4 {
    font-size: 20px;
  }
  #produtosexc .cx2 h2 {
    font-size: 20px;
    text-shadow: black 0px 0.4px;
  }
  #produtosexc .cx2 li {
    font-size: 18px;
  }
  #produtosexc .produto {
    padding: 70px 0px 44px 0px;
  }
  #produtosexc h5 {
    font-size: 20px;
  }
  #produtosexc .p-produtos {
    font-size: 17px;
  }
}

#contato-body {
  width: 100%;
  background-image: url("../img/backcontato3.jpg");
  background-repeat: no-repeat;
  background-color: #16114d;
}

#conteudo-contato h2,
#conteudo-contato #email,
#conteudo-contato #telefone,
#conteudo-contato #input-nome,
#conteudo-contato #input-telefone,
#conteudo-contato #input-email,
#conteudo-contato #input-mensagem,
#conteudo-contato #botao-form {
  font-family: titulos;
}
#conteudo-contato .contato {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0px 50px 0px;
}
#conteudo-contato .formulario {
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 0px 70px;
}
#conteudo-contato .infrm {
  color: #fff;
  text-align: center;
  padding: 0px 70px;
}
#conteudo-contato .infrm p {
  font-size: 23px;
}
#conteudo-contato ::-webkit-input-placeholder,
#conteudo-contato :-moz-placeholder,
#conteudo-contato ::-moz-placeholder,
#conteudo-contato :-ms-input-placeholder {
  color: #fff;
}
#conteudo-contato .titulo-formulario {
  color: #fff;
  text-align: center;
}
#conteudo-contato .inputs-formulario {
  display: flex;
  padding: 10px 0px 10px 5px;
  margin: 21px 0px;
  background-color: transparent;
  width: 100%;
}
#conteudo-contato .textarea-formulario {
  display: flex;
  width: 100%;
  background-color: transparent;
}
#conteudo-contato .input {
  color: #fff;
  border: 2px solid #fff;
}
#conteudo-contato #input-mensagem {
  padding-bottom: 70px;
}
#conteudo-contato #botao-form {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border-color: #da251c;
  margin: auto;
  padding: 10px 16px;
  margin-top: 15px;
  display: block;
}
#conteudo-contato #sct-map {
  padding: 40px 50px;
}
#conteudo-contato #map {
  width: 100%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px 3px;
}
#conteudo-contato .telefone {
  color: #fff;
  text-decoration: none;
}
#conteudo-contato .telefone:hover {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  #conteudo-contato .infrm p {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  #conteudo-contato .contato {
    justify-content: center;
    display: block;
    padding: 75px 150px 70px 150px;
  }
  #conteudo-contato .infrm {
    padding: 50px 0px 0px 0px;
  }
  #conteudo-contato .formulario {
    padding: 0px;
    justify-content: center;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  #conteudo-contato .infrm p {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  #conteudo-contato .contato {
    justify-content: center;
    display: block;
    padding: 75px 20px 50px 20px;
  }
  #conteudo-contato .infrm {
    padding: 50px 0px 0px 0px;
  }
  #conteudo-contato .formulario {
    padding: 0px;
    justify-content: center;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
